<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stream Oliver TV</title>
<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  <!-- Bootstrap CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
  #stream {
    height: 99%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
  }
  </style>

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


</head>

<body class="container">
  <h1 class="text-center">Oliver the Cat TV
    <small>Powered by PI</small>
  </h1>


<hr>

  <hr>

  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
        <div id='main'>
        <img src='/static/image_stream.jpg' width="100%"/>
        </div>
  </div>
  <div class="col-md-2"></div>
 
 </div>

 <div id='test'>
<p>
<script>
var myVar=setInterval(function(){get_image()},1000);

function get_image() {
    $.ajax({
    type: 'GET',
    cache: false,
    url: '/img',
    success: function(data) {
var d = new Date();
console.log(data);
if (data['result'].newimage == true) {
    $('#main img').attr('src', data['result'].src);
}
    }
    });
}
</script>
</p>
</div>

 <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="col-md-2"></div>
 
 </div>
 
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Whats the best time to see Oliver?'
        },
        subtitle: {
            text: 'Source: Camera'
        },
        xAxis: {
            categories: [
                {{ data['hours'] | safe }}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Probability of appearance'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Window position',
            data: [{{ data['vals'] | safe }}]

        }]
    });
});
</script>

</body>

</html>
