<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stream Oliver TV</title>

  <!-- Bootstrap CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
  #stream {
    height: 99%;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
  }
  </style>

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


</head>

<body class="container">
  <h1 class="text-center">Oliver the Cat TV
    <small>Powered by PI</small>
  </h1>


<hr>

  <hr>

   <div id='main'>

 <img src='/static/image_stream.jpg' width="100%"/>
 </div>

 <div id='test'>
<p>
<script>
var myVar=setInterval(function(){get_image()},1000);

function get_image() {
    $.ajax({
    type: 'GET',
    cache: false,
    url: '/img',
    success: function(data) {
var d = new Date();
console.log(data);
if (data['result'].newimage == true) {
    $('#main img').attr('src', data['result'].src);
}
    }
    });
}
</script>
</p>
</div>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Whats the best time to see Oliver?'
        },
        subtitle: {
            text: 'Source: Camera'
        },
        xAxis: {
            categories: [
                {{ data['hours'] | safe }}
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Probability of appearance'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Window position',
            data: [{{ data['vals'] | safe }}]

        }]
    });
});
</script>

</body>

</html>
